<h1>Listing rols</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rols.each do |rol| %>
  <tr>
    <td><%= rol.descripcion %></td>
    <td><%= link_to 'Show', rol %></td>
    <td><%= link_to 'Edit', edit_rol_path(rol) %></td>
    <td><%= link_to 'Destroy', rol, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rol', new_rol_path %>
