<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @usuario.apellido_paterno %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @usuario.apellido_materno %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @usuario.fecha_nacimiento %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
